<button ng-if="user" ng-click="logout()">Logout</button>
<button ng-if="!user" ng-click="login()">Login</button>

<input type="text" ng-model="searchText" placeholder="Search for actors..."/>

<div class="radio-group">
    <form action="">
        by movie<input type="radio" name="searchBy" value="movie" ng-model="type"><br>
        by session<input type="radio" name="searchBy" value="session" ng-model="type"><br>
        by actor<input type="radio" name="searchBy" value="actor" ng-model="type"><br>
    </form>
</div>

<button title="Search" ng-click="search()">Search</button>

<hr/>

<div ng-if="actors" class="actors" ng-if="actors && !noData">
    <div ng-repeat="actor in actors">
        <span>{{ actor.FirstName }}</span>
        <span>{{ actor.LastName }}</span>
    </div>
</div>


<div ng-if="movies" class="movies" ng-if="allData && !noData">
    <div ng-repeat="movie in movies">
        <span>{{ movie.Title }}</span>
    </div>
</div>



<div ng-if="noData">
    <span>{{noData}}</span>
</div>

<div class="movies">

</div>

<div class="sessions">

</div>
<!--<div ng-repeat="object in objects">-->
<!--<div>-->
<!--<img width="200" height="200"-->
<!--ng-src="https://s-media-cache-ak0.pinimg.com/originals/e5/9d/0e/e59d0e67e9da5159780f38aa18d2b59b.png">-->
<!--</div>-->
<!--<div>{{object.Title}}</div>-->

<!--</div>-->

<!--<tr>-->
<!--<td><b>Title</b><td>-->
<!--<td><b>Director</b><td>-->
<!--<td><b>Rate</b><td>-->
<!--</tr>-->
<!--<tr ng-repeat="item in objects">-->
<!--<td>{{item.title}}<td>-->
<!--<td>{{item.director}}<td>-->
<!--<td>{{item.rate}}<td>-->
<!--</tr>-->
