<div id="sign-in">
    <form name="signIn" autocomplete="off">
        <div class="form-group">
            <label for="username">Username</label>
            <input name="input" type="text" id="username" ng-model="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="input" type="password" id="password" ng-model="password" required>
        </div>
        <button class="btn" ng-click="login()">Submit</button>
        <button class="btn cancel" onclick="return false" ng-click="cancel()">Cancel</button>
    </form>
</div>